/* write your css here */

/*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
    MAIN COLOR: #087f5b
    GREY COLOR: #343a40
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira sans', sans-serif;
}

.container{
    height: 90vh;
    width: 95%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: rgb(21, 16, 49);
    border-radius: 25px;
}

.inner-container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 2px solid black;
}

.heading{
    color: white;
    font-weight: bold;
    font-size: 62px;
    text-align: center;
}

.info{
    color: #bfbfbf;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.input input{
    padding: 10px 20px;
    /* border: 2px solid gray; */
    outline: none;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
    font-size: 20px;
    color: gray;
}

.input button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    color: black;
}