/* write your css here */

/*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
    MAIN COLOR: #087f5b
    rgb(21, 16, 49)
    GREY COLOR: #343a40
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira sans', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80vh;
    width: 95%;
    margin: 90px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(farthest-corner at 950px 900px,
            rgb(92, 42, 92) 0%,
            rgb(18, 19, 34) 50%);
    border-radius: 25px;
    position: relative;
}

.inner-container {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 2px solid black;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: 62px;
    text-align: center;
    line-height: .1;
}

.info {
    color: #bfbfbf;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    margin: 0px 60px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input input {
    padding: 10px 20px;
    /* border: 2px solid gray; */
    outline: none;
    border: none;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgba(58, 58, 58, 0.781);
    font-size: 20px;
    color: gray;
    width: 500px;
    display: inline-block;
}

.input button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: pointer;
}